<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="Services.UserService" behaviorConfiguration="UserServiceBehavier" >
				<endpoint address="UserService" binding="wsHttpBinding" contract="Services.IUser"></endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UserServiceBehavier" >
					<serviceMetadata httpGetEnabled="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<!--<connectionStrings>
		<add name="worldofmemoryEntities" connectionString="metadata=res://*/UserModel.csdl|res://*/UserModel.ssdl|res://*/UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=worldofmemory;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>-->
	<connectionStrings>
		<!--<add name="worldofmemoryEntities" connectionString="metadata=res://*/UserModel.csdl|res://*/UserModel.ssdl|res://*/UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=worldofmemory;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"-->
		<!--providerName="System.Data.EntityClient" />-->
		<add name="worldofmemoryEntities" connectionString="metadata=res://*/UserModel.csdl|res://*/UserModel.ssdl|res://*/UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=worldofmemory;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>